.note-container {
    padding: 10px;
    margin: 20px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .note-title {
    color: #000;
    font-size: larger;
    font-weight: 900;
  }
  
  .note-content {
    color: #000;
  }
  
  .note-date {
    color: #000;
    font-size: 1rem;
    font-weight: 900;
  }

  .update-button {
    background-color: #2fa61d; /* Red */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-right: 1rem;
  }
  
  .update-button:hover {
    background-color: #59ff00; /* Darker red */
  }
  
  .delete-button {
    background-color: #f44336; /* Red */
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .delete-button:hover {
    background-color: #d32f2f; /* Darker red */
  }